<!DOCTYPE html>
<html lang = 'en' id = 'switch'>
<head>
    {% load static %}
    <meta charset = 'UTF-8'>
    <title>EdmWay</title>
    <link rel = 'stylesheet' href = '{% static "css/style.css" %}'>
    <link rel = 'icon' href = '{% static "favicon.ico" %}' type = 'image/x-icon'>
    <script type = 'text/javascript' src = '{% static "js/main.js" %}'></script>
<body>
    <div class = 'header'>
        <p class = 'mainTitle'>
            Открой для себя настоящую музыку!
        </p>
    </div>
    <div class = 'innerBody'>
        
    </div>
</body>
</html>